body{
    background-size: cover;
    background-position: center;
    font-family: 'Rubik Bubbles', cursive;
}

h1{
    background-color: black;
    color: white;
    margin: 0%;
}

#back_button{
    float: right;
    background-color: black;
    color: white;
}