body{
    background-size: cover;
    background-position: center;
    font-family: 'Rubik Bubbles', cursive;
}

.anchor{
    background-color: deeppink;
    font-size: 20px;
    color: black;
    width: 40%;
    border-radius: 40px;
}